.transparent {
    position: fixed;
    width: 100%;
    z-index: 99;
                }
.container{
    padding: 0 50px;
}
.textHome{
    top: 50%;
left: 50%;
position: absolute;
-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
width: 1200px;
margin: 0 auto;
}
h4{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
